<h2>Comments</h2><br>
  <% @post.comments.each do |comment| %> 
    <small>by <%= comment.user.email %></small><br>
    <%= comment.content %><br>  
    <%= link_to 'Destroy', [comment.post, comment],
              method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn btn-warning btn-sm" %>
  <hr>
  <% end %>   