/*
*= require bootstrap

*= require_tree .

*= require_self
*/

@import "rails_bootstrap_forms";

.logo-design{
    font-size: 32px;
    color: palevioletred;
    margin-right: 8px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }