/*
*= require bootstrap

*= require_tree .

*= require_self
*/

@import "rails_bootstrap_forms";

.logo-design{
    font-size: 32px;
    color: palevioletred;
    margin-right: 8px;
}

// body{
//     background-image: url("https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825__340.jpg");
//     height: 750px;
//     background-size: cover;
// }
